div{
	background-color: #A4A4A4;
	width: 100px;
	height: 100px;
	border:2px solid black;
	margin-bottom: 5px;
	}

.dentro{
	display: inline-block;
	margin: 3px;

	}

.grande{
	padding: 10px;
	width: 340px;
	height: 110px;

}


.dos{
	display: inline-block;
	margin: 8px;
	margin-left: 0px;
}


